doctype html
//if IE 8
    html.ie8(lang='en')  
//if IE 9
    html.ie9(lang='en')  
// [if !IE] <!
html(lang='en')
    // <![endif]
    head
        include includes/head.pug
    body
        .container.sections-wrapper
            .row
                .secondary.col-md-4.col-sm-12.col-xs-12
                    aside.info.aside.section
                        .section-inner
                            h2.heading Professional Details
                            .content
                                //img.img-responsive.img-thumbnail(style='margin-bottom:20px', src='assets/images/photo.jpg', alt='Helmer Dávila')
                                ul.list-unstyled
                                    li
                                        i.fa.fa-address-book 
                                        span.sr-only Name:
                                        | Helmer Dávila
                                    li
                                        i.fa.fa-briefcase 
                                        span.sr-only Work:
                                        | Fullstack Web Developer
                                    li
                                        i.fa.fa-map-marker
                                        span.sr-only Location:
                                        | Lima, Perú
                                    li
                                        i.fa.fa-envelope-o
                                        span.sr-only Email:
                                        a(href='mailto:info@helmerdavila.com') info@helmerdavila.com
                                    li
                                        i.fa.fa-link
                                        span.sr-only Website:
                                        a(href='https://www.helmerdavila.com') https://helmerdavila.com
                    aside.aside.section
                        .section-inner
                            h2.heading Social profiles
                            .content
                                ul.social.list-inline
                                    li
                                        a(href='http://twitter.com/helmerdavila')
                                            i.fa.fa-twitter
                                    li
                                        a(href='http://pe.linkedin.com/in/helmerdavila')
                                            i.fa.fa-linkedin
                                    li
                                        a(href='http://github.com/helmerdavila')
                                            i.fa.fa-github-alt
                    aside.skills.aside.section
                        .section-inner
                            h2.heading Skills
                            .content
                                p.intro
                                    | List of my achieved skills.
                                .skillset
                                    .item
                                        h3.level-title PHP: Laravel 4.* & 5.*, Zend, Codeigniter
                                    .item
                                        h3.level-title Javascript: ES6, React, Vue, Angular (w/Ionic), Jquery, Coffescript
                                    .item
                                        h3.level-title CSS: SCSS
                                    .item
                                        h3.level-title HTML5: Jade, HAML
                                    .item
                                        h3.level-title Git
                                    .item
                                        h3.level-title Server Management: Amazon AWS / Linode
                    aside.education.aside.section
                        .section-inner
                            h2.heading Education
                            .content
                                .item
                                    h3.title
                                        i.fa.fa-graduation-cap
                                        |  BS. Computer Enginnering
                                    h4.university
                                        | Pedro Ruiz Gallo University 
                                        span.year (2009-2014)
                                // //item
                            // //content
                        // //section-inner
                    // //section
                    aside.languages.aside.section
                        .section-inner
                            h2.heading Languages
                            .content
                                ul.list-unstyled
                                    li.item
                                        span.title
                                            strong Spanish: 
                                        span.level Native speaker
                                    li.item
                                        span.title
                                            strong English: 
                                        span.level Intermediate
                            // //content
                        // //section-inner
                // //secondary
                .primary.col-md-8.col-sm-12.col-xs-12
                    ul.nav.nav-pills.nav-justified
                        li.active
                            a(href="#about_experiencie", aria-controls='about_experiencie', role='tab', data-toggle='tab')
                                i.fa.fa-user-circle
                                strong &nbsp;&nbsp; About me
                        li
                            a(href="#projects_portfolio", aria-controls='projects_portfolio', role='tab', data-toggle='tab')
                                i.fa.fa-rocket
                                strong &nbsp;&nbsp; Portfolio
                        li
                            a(href="#github_activity", aria-controls='github_activity', role='tab', data-toggle='tab')
                                i.fa.fa-github
                                strong &nbsp;&nbsp; Github Activity
                    .tab-content
                        #about_experiencie.tab-pane.active(role='tabpanel')
                            section.about.section
                                .section-inner
                                    h2.heading 
                                        | About Me
                                        a.btn.btn-sm.btn-cta-primary.pull-right(href='index_es.html')
                                            i.fa.fa-language
                                            |  Español
                                    .content
                                        p
                                            | Hi, my name is Helmer Dávila, and I am from Peru. I am a JS/PHP Developer with the new and interesting technologies and design patterns, I write PHP/Laravel/Zend/Codeigniter, Javascript  ES6/Coffescript/Vue/Ionic/React/Jquery, HTML/Jade/Pug, CSS/SCSS code and use Shared and Dedicated Servers to host my apps. I like to write clean and maintainable code following patterns, with testing always in mind.
                                        p
                                            | I play with some frameworks, regularly develop or improve open source projects, because I am always open to new technologies. 
                            section.experience.section
                                .section-inner
                                    h2.heading Work Experience
                                    .content
                                        .item
                                            h3.title 
                                                | Lead & Fullstack Developer
                                                span.place
                                                    a(href="https://ambrea.pe", target="_blank") AMBREA 
                                                span.year (Jan 2017 - Current)
                                            p
                                                | Oversee all technical aspects and technological resources of an organization for the purpose of organizational growth. Established a technological vision for an organization and leads the company's technological development.
                                                | Technologies: 
                                            ul
                                                li Amazon Web Services (EC2: Nginx, S3, RDS: MariaDB). Server deployment.
                                                li SEO & Conversion tools (Google Analytics & Google Tag Manager, Facebook Pixel)
                                                li SEO & Conversion tools (Google Analytics & Google Tag Manager, Facebook Pixel)
                                                li PHP 7 (Laravel 5.5)
                                                li JavaScript SPA. (React, Vue JS, Vuex, jQuery)
                                        .item
                                            h3.title
                                                | Fullstack Freelancer Developer - 
                                                span.place
                                                    a(href="https://ambrea.pe", target="_blank") AMBREA 
                                                span.year (Jun 2016 - Oct 2016)
                                            p
                                                | Software developer and server management from scratch. E-commerce with framework, optimized for SEO. Admin panel for manage the stocks and products.
                                                | Technologies:
                                            ul
                                                li Amazon Web Services (EC2: Nginx, S3, RDS: MariaDB)
                                                li Analytics tools setup: Google Analytics & Google Tag Manager
                                                li PHP 7 (Laravel 5.4)
                                                li Javascript Vue JS & Jquery
                                        .item
                                            h3.title
                                                | Web Developer - 
                                                span.place
                                                    a(href='https://mesa247.pe', target='_blank') MESA 247 
                                                span.year (Feb 2016 - Dec 2016)
                                            p
                                                | Software Development and consulting focused on agile software development practices, software analysis, design and SEO for all web platforms (Peru & Chile domains), using open source products and libraries in PHP with Codeigniter Framework.
                                                | Technologies:
                                            ul
                                                li
                                                    | Amazon Web Services (EC2: Apache & Nginx, S3 & Cloudfront, RDS: Mysql & MariaDB, Elasticache: Redis).
                                                li
                                                    | SEO: (Increase Google Speed Insight ranking and Organic Traffic, Google Webmaster Tools, MOZ, Meta descriptions).
                                                li PHP 5.6 & 7 (Laravel/Codeigniter)
                                                li JavaScript, JSON, HTML5, CSS3
                                                li Improvement & Security for development environments
                                        .item
                                            h3.title
                                                | Backend Developer - 
                                                span.place
                                                    a(href='http://medioseideas.com', target='_blank') Medios e Ideas
                                                span.year (Nov 2014 - Dec 2015)
                                            ul
                                                li Architecture, implementation and testing of PHP apps.
                                                li Write code, with care to make clean, readable, scalable and maintainable.
                                                li Use Facebook and Google+ APIs.
                                                li Maintenance of other web applications, with another frameworks.
                                                li Propose new features in development.
                                                li Safe code and available for future developers in Bitbucket and Github accounts.
                                                li
                                                    | Technologies: PHP (Laravel, Zend, Codeigniter), Javascript (Jquery, Ajax, Coffescript), LAMP, HTML5 (Jade, HAML), Linux (CentOS, Ubuntu), macOS.   
                        #projects_portfolio.tab-pane(role='tabpanel')
                            section.latest.section
                                .section-inner
                                    h2.heading Latest Projects
                                    .content
                                        .item.featured.text-center
                                            h3.title
                                                a(href='#', target='_blank') Ambrea Catering
                                            p.summary Side business & platform for Ambrea Corp.
                                            //.featured-image
                                                a(href='https://ambreacatering.com', target='_blank')
                                                    img.img-responsive.project-image(src='assets/images/medic.png', alt='Disease Diagnostic')
                                                .ribbon
                                                    .text React SPA
                                            .desc.text-left
                                                p
                                                    | This was a 1 week prototype for a side bussiness in Ambrea. Built with an API and Single Page Application.
                                        hr.divider
                                        .item.row
                                            .col-sm-3.col-md-3.col-xs-12
                                                a(href='https://spoontop.com', target='_blank')
                                                    img.img-responsive.project-image(src='assets/images/spoontop.png', alt='Spoontop')
                                            .col-sm-9.col-md-9.col-xs-12
                                                h3.title Spoontop
                                                p
                                                    | Space time reservation application. This contains: API, Web for customers, Manager for subsidiary owners and Superadmin platform.
                                                p
                                                    | This site was coded Laravel, Vue JS, Ionic 3 (w. Angular).
                                                p
                                                    a.more-link(href='https://spoontop.com', target='_blank')
                                                        i.fa.fa-external-link
                                                        |  See this site!
                                        .item.row
                                            .col-sm-3.col-md-3.col-xs-12
                                                a(href='https://bipolar.com.pe', target='_blank')
                                                    img.img-responsive.project-image(src='assets/images/bipolar.png', alt='Bipolar')
                                            .col-sm-9.col-md-9.col-xs-12
                                                h3.title Bipolar
                                                p
                                                    | E-commerce project for sell women shoes & accesories, admin for product management.
                                                p
                                                    | This site was coded in Laravel with React.
                                                p
                                                    a.more-link(href='https://bipolar.com.pe', target='_blank')
                                                        i.fa.fa-external-link
                                                        |  See this site!
                                        .item.row
                                            .col-sm-3.col-md-3.col-xs-12
                                                a(href='http://tumedico.club', target='_blank')
                                                    img.img-responsive.project-image(src='assets/images/medic.png', alt='Disease Diagnostic')
                                            .col-sm-9.col-md-9.col-xs-12
                                                h3.title Disease Diagnostic Application
                                                p
                                                    | This is my first open source Laravel project. The Disease Diagnostic it's a web browser app helpful for any doctor, take the patient
                                                    | diagnostic information, show detailed charts and statistics from every state (or city).
                                                p
                                                    | The application was developed for my Engineer Degree, and the target is Peruvian people. My next goal is bring this to all people and
                                                    | it will be translated to english language.
                                        .item.row
                                            .col-sm-3.col-md-3.col-xs-12
                                                img.img-responsive.project-image(src='assets/images/lexperu.png', alt='Lexperu')
                                            .col-md-9.col-sm-9.col-xs-12
                                                h3.title LexPeru
                                                p SaaS app for management, search and query Peruvian laws.
                                                p
                                                    a.more-link(href='#')
                                                        i.fa.fa-external-link
                                                        |  Suspended by customer 
                                                        i.fa.fa-frown-o
                                        .item.row
                                            .col-sm-3.col-md-3.col-xs-12
                                                img.img-responsive.project-image(src='assets/images/inventory.png', alt='Lexperu')
                                            .col-md-9.col-sm-9.col-xs-12
                                                h3.title
                                                    a(href='#') Inventory Management
                                                p
                                                    | This application can be used for small and intermediate stores, see the products stock, makes sells, generate reports.
                                                p
                                                    a.more-link(href='#')
                                                        i.fa.fa-external-link
                                                        |  Suspended by customer 
                                                        i.fa.fa-frown-o
                                        .item.row
                                            .col-sm-3.col-md-3.col-xs-12
                                                a(href='https://kuickit.com', target='_blank')
                                                    img.img-responsive.project-image(src='assets/images/kuickit.png', alt='Kuickit')
                                            .col-md-9.col-sm-9.col-xs-12
                                                h3.title
                                                    a(href='http://kuickit.com', target='_blank') Kuickit
                                                p Very nice web site with interestig information about curious things.
                                                p
                                                    a.more-link(href='http://kuickit.com', target='_blank')
                                                        i.fa.fa-external-link
                                                        |  See this site!
                                        .item.row
                                            .col-sm-3.col-md-3.col-xs-12
                                                a(href='https://chusmaposters.com', target='_blank')
                                                    img.img-responsive.project-image(src='assets/images/chusmaposters.png', alt='Chusmaposters')
                                            .col-md-9.col-sm-9.col-xs-12
                                                h3.title
                                                    a(href='http://chusmaposters.com', target='_blank') Chusmaposters
                                                p Small store for sell beautiful and geek posters with wooden frames.
                                                p
                                                    a.more-link(href='http://chusmaposters.com', target='_blank')
                                                        i.fa.fa-external-link
                                                        |  See this site!
                        #github_activity.tab-pane(role='tabpanel')
                            section.github.section
                                .section-inner
                                    h2.heading My GitHub
                                    p
                                        | Last Activity in my 
                                        a(href='http://github.com/helmerdavila', target='_blank') Github
                                        |   Account. Always searching new open source tools!
                                        #ghfeed.ghfeed
                // //primary
            // //row
        // //masonry
        include includes/footer.pug
