// ******FOOTER******
footer.footer
    .container.text-center
        | Helmer Dávila Mundaca - 2017
    // //container
// //footer
// Javascript
script(type='text/javascript', src='assets/plugins/jquery-1.11.2.min.js')
script(type='text/javascript', src='assets/plugins/jquery-migrate-1.2.1.min.js')
script(type='text/javascript', src='assets/plugins/bootstrap/js/bootstrap.min.js')
script(type='text/javascript', src='assets/plugins/jquery-rss/dist/jquery.rss.min.js')
// github activity plugin
script(type='text/javascript', src='assets/plugins/github-activity/dist/mustache/mustache.min.js')
script(type='text/javascript', src='assets/plugins/github-activity/dist/github-activity-0.1.1.min.js')
// custom js
script(type='text/javascript', src='assets/js/main.js')